footer {
    position: fixed;
    height: 70px;
    bottom: 0;
    width: 100%;

}

#grad {
 background-image: linear-gradient(#f4decb,#451e3e);
 height: 100%;
}

#titlecircle
  {
    border-radius:50%;
    width:90px;
    height: 90px;
     background-image: linear-gradient(#f4decb,#94618e);
  }

html{
    height:100%;
    width:100%;
}
